body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    padding: 20px;
}

h1 {
    font-family: "Nabla", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "EDPT" 100,
        "EHLT" 12;
    color: antiquewhite;
}

nav p {
    color: antiquewhite;
}

p {
    font-size: 20px;
    margin-bottom: 0;
}

.about-me p {
    color: black;
}

#vanta-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.scrollable-content {
    position: absolute;
    top: 80px; /* Adjust this value based on your header height */
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
}

.content-wrapper {
    min-height: 100%;
    padding-top: 20px; /* Add some top padding to prevent content from being hidden behind the header */
}

.content-space {
    border: solid 1.5px black;
    border-radius: 10px;
    background-color: antiquewhite;
    opacity: 80%;
    max-width: 900px;
}

a {
    color: #5601d6;
    text-decoration: none;
    position: relative;
    transition: none;
}

a:hover {
    color: #7e4acd;
    transition: none;
}